<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/navigation.ejs') %>

<main class="cart-box">
    <% if (products.length > 0) { %>
        <ul>
            <% products.forEach(p => { %>
                <li class="product-list">
                    <p>Title: <%= p.title %></p>
                    <p>Quantity: <%= p.cartItem.quantity %></p>
                    <form action="/cart-delete-item" method="post">
                        <input type="hidden" name="id" value="<%= p.id %>">
                        <button class="btn" type="submit">Delete</button>
                    </form>
                </li>
            <% }) %>
        </ul>
        <div class="cart-box-order">

            <form action="/create-order" method="post">

                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <button class="btn" type="submit">Order Now</button>
            </form>
        </div>
    <% } else { %>
        <h1>No products in Cart...</h1>
    <% } %>
</main>


<%- include('../includes/end.ejs') %>
